*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
sweetdialoglibrary/build/generated/ap_generated_sources/
sweetdialoglibrary/build/generated/res/
sweetdialoglibrary/build/intermediates/aar_libs_directory/
sweetdialoglibrary/build/intermediates/annotations_zip/
sweetdialoglibrary/build/intermediates/data_binding_layout_info_type_package/
sweetdialoglibrary/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/
sweetdialoglibrary/build/intermediates/incremental/packageDebugResources/stripped.dir/
sweetdialoglibrary/build/intermediates/library_and_local_jars_jni/
sweetdialoglibrary/build/intermediates/library_assets/
sweetdialoglibrary/build/intermediates/library_jni/
sweetdialoglibrary/build/intermediates/merged_jni_libs/
sweetdialoglibrary/build/intermediates/merged_shaders/
sweetdialoglibrary/build/intermediates/public_res/
sweetdialoglibrary/build/.transforms/
